<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest"
packages="org.apache.logging.log4j.test">
	<Properties>
		<Property name="filename">target/test.log</Property>
	</Properties>
	<Appenders>
		<Appender type="Console" name="STDOUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Appender>
		<Appender type="File" name="File" fileName="${filename}">
			<Layout type="PatternLayout">
				<Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
			</Layout>
		</Appender>
	</Appenders>
	<Loggers>
		<Logger name="com.opentext" level="DEBUG">
		</Logger>
		<Logger name="org.mule" level="INFO">
		</Logger>
		<Root>
			<AppenderRef ref="File" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
